.gridSquare {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    opacity: 0.1;
}

#gridContainer {
    width: 672px;
    height: 672px;
    display: flex;
    flex-wrap: wrap;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#webContainer {
    width: 800px;
    height: 800px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    text-align: center;
}